body {
  background-color: #f4e8e7;
  color: #8b8281;
}

button {
  height: 42px;
  width: 180px;
  padding: 6px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  transition: box-shadow ease-in-out .2s;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  transition: box-shadow ease-in-out .2s;
}

.collection {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #393231;
}

/* card-list */
.card-list {
  margin: 0 20px 60px;
}
.card-list a {
  display: inline-block;
  text-decoration: none;
}
.card-list a > .amplify-flex {
  transform: translateY(0);
}
.card-list a > .amplify-flex:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 20%);
  transition: all 0.1s ease 0s;
}

/* dress-up */
.card__dress-up {
  margin: 30px;
  padding: 36px 42px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  color: #393231;
  text-align: left;
}
.card__dress-up--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.back-link {
  font-size: 14px;
  color: #0185FF;
  text-decoration: none;
}
.card__dress-up--title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
.card__dress-up--change {
  display: flex;
}
.card__dress-up--image {
  min-width: 400px;
  margin: 0 30px 30px 0;
}
.dress-up-window {
  overflow: hidden;
}
.card__dress-up--pj {
  margin: 6px 0 0;
  font-size: 14px;
  color: #8B8281;
}
.card__dress-up--no {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.card__dress-up--option dl {
  margin-top: 0;
}
.card__dress-up--option dt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
}
.card__dress-up--option dd {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 0 30px;
}
.card__dress-up--option button.select {
  background: #F6DCDA;
  border: 1px solid #CF4033;
}

@media screen and (max-width:900px) {
  .card__dress-up--change {
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* spinkit */
.sk-cube-grid {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 2px 2px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(254, 230, 230);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}